@font-face {
    font-family: 'press_start';
    src: url('press_start/prstartk-webfont.eot');
    src: url('press_start/prstartk-webfont.eot?#iefix') format('embedded-opentype'),
         url('press_start/prstartk-webfont.woff') format('woff'),
         url('press_start/prstartk-webfont.ttf') format('truetype'),
         url('press_start/prstartk-webfont.svg#press_start_kregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-size: 16px;
	font-family: 'press_start';
	text-transform: uppercase;
	color: white;
}

body {
	background-color: black;
}

a {
    color: #00BFFF;
    text-decoration: none;
}

a:hover { color: #00FFFF; }

#menu {
    font-family: 'press_start';
    text-transform: uppercase;
    list-style: none outside none;
    margin: 180px 0 0 0;
    padding: 0;
    text-align: center;
}

#menu li {
    margin: 0 5px;
    display: inline;
    line-height: 16px;
}

#menu a {
    color: white;
    padding-left: 24px;
}

#menu a.current {
  background: url(../images/cursor.png) no-repeat;
}


#starfield {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

#foreground {
    padding: 20px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.dialog {
    -moz-border-image: url('../images/border.gif') 12 repeat;
    -webkit-border-image: url('../images/border.gif') 12 repeat;
    border-image: url('../images/border.gif') 12 repeat;
    border-style: solid;
    border-width: 12px;
    margin-top: 30px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: 'press_start';
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    background-color: rgba(0,0,0,0.75);
    display: none;
    line-height: 30px;
}

.sponsor {
  vertical-align: baseline;
}

.dialog > h2 {
  color: #BBB;
  margin-top: 16px;
}

.dialog:first-of-type {
    display: block;
}

.dialog p {
  margin-bottom: 10px;
  text-indent: 16px;
}

.dialog p:last-child {
  margin-bottom: 0;
}

.dialog section {
  margin-bottom:17px;
}


/* List Items */

.dialog ul {
  margin-top: 16px;
}

.dialog li {
  padding-left: 24px;
}

ul.fruit li {
  background-repeat: no-repeat;
  line-height: 16px;
  margin-bottom: 16px;
}

ul.fruit li:nth-child(5n+1) { background-image: url(../images/strawberry.png); }
ul.fruit li:nth-child(5n+2) { background-image: url(../images/orange.png); }
ul.fruit li:nth-child(5n+3) { background-image: url(../images/cherries.png); }
ul.fruit li:nth-child(5n+4) { background-image: url(../images/melon.png); }
ul.fruit li:nth-child(5n+5) { background-image: url(../images/apple.png); }
ul.fruit li:last-child {
  margin-bottom: 0;
}

/* Decorated Links */

a.slack {
  background: url(../images/slack.png) no-repeat;
  padding-left: 24px;
}

a.github {
  background: url(../images/github.png) no-repeat;
  padding-left: 24px;
}

a.meetup {
  background: url(../images/meetup.png) no-repeat;
  padding-left: 24px;
}

a.youtube {
  background: url(../images/youtube.png) no-repeat;
  padding-left: 24px;
}

a.slides {
  background: url(../images/ppt.png) no-repeat;
  padding-left: 24px;
}

.love {
  background: url(../images/heart.png) no-repeat;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

/* Next Meetup */

#next-meetup {
  display: none;
}

#meetup-date {
  height: 80px;
  clear: both;
}

#meetup-date .date {
  padding-top: 2px;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 22px;
  background: url(../images/calendar.png) no-repeat;
  width: 64px;
  height: 64px;
  float: left;
}

#meetup-date .day {
  display: block;
  color: black;
  font-size:22px;
  line-height: 40px;
}

#meetup-date .info {
  padding-left: 80px;
  line-height: 32px;
}

#next-meetup .name {
  font-size: 18px;
}

#meetup-date .count {
  font-size: 12px;
}

a.button {
  -moz-border-image: url('../images/redbutton.png') 6 repeat;
  -webkit-border-image: url('../images/redbutton.png') 6 repeat;
  border-image: url('../images/redbutton.png') 6 repeat;
  border-style: solid;
  border-width: 6px;
  background-color: #df0026;
  color: white;
  font-size: 12px;
}

a.button:hover {
  color: yellow;
}

#fork {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'press_start';
  text-transform: uppercase;
  color: white;
  font-size: 16px;
}

#fork a { color: #FFF; opacity: 0.5; }
#fork a:hover { opacity: 1; }

#credits {
  opacity: 0.5;
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-family: 'press_start';
  text-transform: uppercase;
  color: white;
  font-size: 10px;
}
