@font-face {
    font-family: 'press_start';
    src: url('press_start/prstartk-webfont.eot');
    src: url('press_start/prstartk-webfont.eot?#iefix') format('embedded-opentype'),
         url('press_start/prstartk-webfont.woff') format('woff'),
         url('press_start/prstartk-webfont.ttf') format('truetype'),
         url('press_start/prstartk-webfont.svg#press_start_kregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-size: 15pt;
	font-family: 'press_start';
	text-transform: uppercase;
	color: white;
}

body {
	background-color: black;
}

a {
    color: #00BFFF;
    text-decoration: none;
}

a:hover { color: #00FFFF; }

#menu {
    font-family: 'press_start';
    text-transform: uppercase;
    list-style: none outside none;
    margin: 180px 0 0 0;
    padding: 0;
    text-align: center;
}

#menu li {
    margin: 0 10px;
    display: inline;
}

#menu a {
    color: white;
}

#starfield {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

#foreground {
    padding: 20px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.dialog {
    -moz-border-image: url('../images/border.gif') 12 repeat;
    -webkit-border-image: url('../images/border.gif') 12 repeat;
    border-image: url('../images/border.gif') 12 repeat;
    border-style: solid;
    border-width: 12px;
    margin-top: 30px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: 'press_start';
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    background-color: rgba(0,0,0,0.75);
    display: none;
    line-height: 30px;
}

.dialog:first-of-type {
    display: block;
}

.dialog p {
  margin-bottom: 10px;
  text-indent: 16px;
}

.dialog p:last-child {
  margin-bottom: 0;
}

.dialog section {
  margin-bottom:17px;
}


/* List Items */

.dialog ul {
  margin-top: 16px;
}

.dialog li {
  background-repeat: no-repeat;
  padding-left: 24px;
  line-height: 16px;
  margin-bottom: 16px;
}
.dialog li:nth-child(5n+1) { background-image: url(../images/strawberry.png); }
.dialog li:nth-child(5n+2) { background-image: url(../images/orange.png); }
.dialog li:nth-child(5n+3) { background-image: url(../images/cherries.png); }
.dialog li:nth-child(5n+4) { background-image: url(../images/melon.png); }
.dialog li:nth-child(5n+5) { background-image: url(../images/apple.png); }

.dialog li:last-child {
  margin-bottom: 0;
}

/* Decorated Links */

a.slack {
  background: url(../images/slack.png) no-repeat;
  padding-left: 24px;
}

a.github {
  background: url(../images/github.png) no-repeat;
  padding-left: 24px;
}

a.meetup {
  background: url(../images/meetup.png) no-repeat;
  padding-left: 24px;
}

.love {
  background: url(../images/heart.png) no-repeat;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
