<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {{{ body }}}
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/members">Member List</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="http://www.meetup.com/vegasjs">Meetup Page</a></li>
				</ul>
    </body>
</html>

